.SubmissionWrapper {
    margin: 1rem;

    display: flex;
    justify-content: center;
}

.Submission {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: auto;
    width: clamp(40rem, 100%, 50rem);

    display: flex;
    flex-flow: row nowrap;
    justify-content: left;

    border: var(--border);
    border-radius: var(--rad);

    color: var(--dark);
    font-weight: 600;
}

.Submission:hover {
    background-color: var(--mid);
}

.Submission:focus {
    background-color: var(--mid);
}

.Submission p {
    margin-bottom: 0;
}

.SubmissionCourseInfo {
    margin-right: 3rem;
    margin-top: 0.5rem;
    padding-left: 1rem;

    width: 10rem;

    flex-shrink: 0;
}

.SubmissionInfo {
    padding: 0.5rem;
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;

    border: solid 2px var(--dark);
    background-color: var(--white);

    border-top-right-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
}

.SubmissionInfoTop {
    display: flex;
    justify-content: space-evenly;
}

#SubCommentInput{
    width: 100%;
    margin-bottom: 0.5rem;
}

.SubmissionName {
    font-weight: 800;
}

.SubmissionFileSection {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
}

.SubFileInput {
    border-radius: 0;
}

.SubButtonContainer {
    width: 20%;
    display: flex;
    justify-content: right;
}

.SubFileUploadButton {
    margin: 0;
}

.SubFileUploadButton:hover {
    background-color: var(--mid);
}

