.Header {
    background-color: lightblue;
    text-align: center;
    align-items: center;
    border-bottom: solid grey 1px;
    margin-bottom: 0px;
}

#tfSearchbar{
    position: relative;
    top: 40%;
}

#btnSearchbar{
    position: relative;
    top: 40%;
}

#lnkProfile{
    position: relative;
    top: 40%;
}

.Body {
    /* backgroundcolor yellow just for debugging*/
    background-color: yellow;
    align-items: left;
    display:flex;
    margin:0;
    padding:0;
}


.Container{
    margin:0;
    padding: 0;
}

.ColNav {
    padding:0;
}

.ColContent {
    background-color: white;
    align-items: left;
    margin:0;
    padding:0;
}


.Navbar {
    background-color: lightblue;
    border-right:solid 1px grey;
    height: 300%;
    
}


