.Exam {
    margin: 1rem;
    padding: 1rem;

    color: var(--dark);
    font-weight: 600;

    border: solid 1px var(--mid);
}

.Exam:hover {
    background-color: var(--dark);
    color: var(--white);
}

.Section {
    padding: 1rem;
    min-height: 20rem;
    display: flex;
    border-bottom: solid 1px var(--mid);
}
