.Section {
    padding: 1rem;

    flex: 1 0 auto;
    display: flex;
    justify-content: center;

    border-bottom: solid 2px var(--grey);
}

.ExamListing {
    flex: auto;
    flex-wrap: wrap;
    display: flex;
}

.ExamWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Exam {
    margin: 1rem;
    padding: 0.5rem;

    height: auto;

    color: var(--dark);
    font-weight: 600;

    border: var(--border);
    border-radius: var(--rad);
}

.Exam:hover {
    background-color: var(--bg-hover);
}

.Exam p {
    margin-bottom: 0;
}

.ExamHeader {
    margin-bottom: 0.4rem;
    height: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    border-bottom: solid 2px var(--mid);
}

.ExamBody {
    display: flex;
    flex-flow: row nowrap;
}

.ExamInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;
}

.ExamCourseInfo {
    width: 50%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.ExamName {
    font-weight: 800;
}

