.SectionContainer {
    background-color: var(--white);
}

.Section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    border-bottom: solid 1px var(--mid);
    min-height: 20rem;
}


.Course {
    margin: 1rem;
    padding: 1rem;
    width: clamp(14rem, 60%, 20rem);
    border: solid 1px var(--mid);
}

.Course a {
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
}

.Course a h4 {
    font-size: 1.2rem;
    border-bottom: solid 1px var(--mid);
}

.Course:hover {
    background-color: var(--dark);
    color: var(--white);
}

label, input {
    display: flex;
    flex-direction: column;
}

.Header label,
.Header input {
    display: inline;
}

button {
    margin: 1rem;
    border: solid 1px var(--mid);
}

.primary {
    height: 2rem;
}

