.Course {
    margin-bottom: 7px;
    padding: 0px;
    border: solid 1px lightblue;
}

.Section {
    border-bottom: solid 3px lightgrey;
    margin: 0px;
}

label,
input {
    display: flex;
    flex-direction: column;
}

.Header label,
.Header input {
    display: inline;
}