.LoginContainer {
    background-color: var(--white);
}


/* --- Login --- */

.Login {
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 10rem;
    width: clamp(20rem, 50%, 26rem);
    height: 30rem;
    left: 25%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    border: var(--border);
    border-radius: var(--rad);

    background-color: var(--white);
    display: flex;
    color: var(--dark);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.LoginHeader {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

.LoginBody {
    height: calc(100% - 12rem);
    margin: 2rem;
}

.LoginFooter {
    height: 4rem;
    background-color: var(--dark);
}


.LoginH1 {
    margin: 0;
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.5rem;
}







#email, #password {
    padding-left: 0.5rem;
}

.EmptySpace {
    height: 3rem;
}


.LoginButton {
    margin: 1rem;
    padding: 1px;
    width: 5rem;
    height: 2rem;
    position: relative;
    left: 34%;

    outline: 0px;
    border: 0px;
    border-radius: var(--rad);
    text-transform: uppercase;
    color: var(--dark);

    background-color: var(--white);
}

#loginbutton:hover {
    background-color: var(--mid);
}

.LB24Header {
    margin-top: 10vh; 
    color: var(--dark);
}

.Footer {
    position: absolute;
    bottom: 0px;
}
