:root {
    --white: #F4EEFF;
    --grey: #DCD6F7;
    --mid: #A6B1E1;
    --dark: #424874;
    --font-fam: 'Lato', sans-serif;
    --rad: 0.5rem;
    --pad-top: 2rem;
    --pos-top: 32%;
    --header-scale: 70%;
    --rad-contentbox: 1rem;
}

#root {
    height: 100%;
    margin: 0rem;
    padding: 0rem;
}

html {
    height: 100%;
    margin: 0rem;
    padding: 0rem;
}

.App {
    width: 100%;
    height: 100%;
}


/* --- Header --- */

.Header {
    padding: 1rem;
    background-color: var(--dark);
    text-align: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    display: flex;
}

.Header div {
    display: flex;
    justify-content: center;
}

.Logo {
    scale: 60%;
}

#tfSearchbar{
    margin: 1px;
    padding: 0.7rem;
    position: relative;
    top: var(--pos-top); 
    width: 20rem;
    height: 2rem;
    border-radius: var(--rad);
    outline: 0px;
    border: 0px;
    border-bottom: 2px solid var(--mid);
    background-color: white;
}

#btnSearchbar{
    margin: 1px;
    padding: 1px;
    position: relative;
    top: var(--pos-top); 
    width: 5rem;
    height: 2rem;
    border-radius: var(--rad);
    outline: 0px;
    border: 0px;
    border-bottom: 2px solid var(--mid);
    background-color: white;
}

#lnkProfile{
    position: relative;
    top: 1.5rem; 
    padding: 0.8rem 0;
    display: block;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}



/* --- Body --- */

.Body {
    margin: 0rem;
    padding: 0rem;
    height: 120vh;
    align-items: left;
    display:flex;
    background-color: var(--mid);
}


.Container{
    margin:0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.Content {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}


/* --- Navigation Bar --- */

.ColNav {
    padding:0;
    width: clamp(8rem, 50%, 16rem);
    background-color: var(--grey);
    border-top: solid 1rem var(--grey);
    border-top-left-radius: var(--rad-contentbox);
    border-bottom-left-radius: var(--rad-contentbox);
    border-bottom: 2px solid var(--dark);
}


.Navbar {
    padding-top: 1rem;
    padding-left: 1rem;
    height: 100%;
    width: 100%;
}

.Navbar ul {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    border-left: solid 2px var(--dark);
}

.Navbar li {
    width: 100%;
}

.Navbar li:hover {
    background-color: var(--mid);
    color: var(--white);
}

.Navbar li * {
    padding: 0.8rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
}

.Navbar li a:hover {
    color: var(--white);
    font-weight: 800;
}

.Navbar li a:focus {
    color: var(--dark);
}



/* --- Content Body --- */

.ColContent {
    padding: 2rem;
    padding-top: 0.5rem;
    background-color: var(--white);
    width: clamp(50rem, 70%, 80rem);
    border-top: 1rem solid var(--white);
    border-top-right-radius: var(--rad-contentbox);
    border-bottom-right-radius: var(--rad-contentbox);
    border-bottom: 2px solid var(--dark);
}

.ColContent h1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: left;
    scale: var(--header-scale);
    color: var(--dark);
}


/* --- Footer --- */

.Footer {
    margin-top: 2rem;
    padding: 1rem;
    position: absolute;
    bottom: -1;
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    text-align: center;
    color: var(--white);
}

.Footer p {
    margin: 1rem;
    margin-top: 0;
}

