.Header {
    background-color: lightblue;
    text-align: center;
    align-items: center;
    border-bottom: solid grey 1px;
}

#tfSearchbar{
    position: relative;
    top: 40%;
}

#btnSearchbar{
    position: relative;
    top: 40%;
}

#lnkProfile{
    position: relative;
    top: 40%;
}

.Content {
    background-color: yellow;
    align-items: left;
    display:flex;
    margin:0;
    padding:0;
}

.a {
    background-color: white;
    width:120%;
    align-items: left;
    margin:0;
    padding:0;
}


.Navbar {
    background-color: lightblue;
    border-right:solid 1px grey;
    height: 300%;
    
}